h1{
    margin: 15px 600px;
    background: #f7730e;
    border-radius: 25px;
    text-align: center;
}

img{

    border-radius: 10px;
}

*{
    background: linear-gradient(0.25turn, #f7730e, #010b01); ;
}